<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-k-folioreaderkit"
    version="0.0.2">
    <name>KFolioReaderKit</name>
    <description>Cordova Plugin for FolioReaderKit </description>
    <license>Apache 2.0</license>
    <keywords>cordova, ePub, folioreader</keywords>

    <js-module src="www/kfolioreaderkit.js" name="KFolioReaderKit">
        <clobbers target="KFolioReaderKit"/>
    </js-module>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
            <feature name="KFolioReaderKit">
                <param name="ios-package" value="KFolioReaderKit" />
            </feature>
        </config-file>

		<podspec>
			<config>
				<source url="https://github.com/CocoaPods/Specs.git"/>
			</config>
			<pods use-frameworks="true">
				<pod name="FolioReaderKit" spec="1.4.0"/>
			</pods>
		</podspec>

        <source-file src="src/ios/KFolioReaderKit.swift" />
	</platform>

	<platform name="android">
		<dependency id="cordova-plugin-androidx" version="1.0.2"/>
		<dependency id="cordova-plugin-androidx-adapter" version="1.0.2"/>

        <config-file target="config.xml" parent="/*">
            <feature name="KFolioReaderKit">
                <param name="android-package" value="in.co.indusnet.cordova.plugins.folioreaderkit.KFolioReaderKit"/>
            </feature>
        </config-file>

		<framework src="com.folioreader:folioreader:0.5.4" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/KFolioReaderKit.java" target-dir="src/in/co/indusnet/cordova/plugins/folioreaderkit"/>
    </platform>
</plugin>
